body {
  @media screen and (max-width: 768px) {
    #primary {
      width: 100%;
    }
    #secondary {
      width: 100%;
      margin: 0;
      border: none;
    }
  }
  font-family: "Roboto", sans-serif;
}
#bgrd1 {
  background-image: url("../images/backgrounds/welcBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#welcMsg {
  /* display: relative;
  float: Right; */
  font-size: 34px;
  color: white;
  text-align: center;
  padding-top: 420px;
}
#mouseclickpic {
  position: relative;
  margin-top: 200px;
  padding-top: 100px;
  bottom: 20px;
  text-align: center;
}
#lagoimg {
  position: relative;
  top: 325px;
  text-align: center;
}
.about {
  text-align: center;
  font-size: 14px;
}
.services {
  background-image: url("../images/backgrounds/servBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 205px;
}
.whatWeDo {
  margin-top: 50px;
  padding-bottom: 105px;
  text-align: center;
}
#icon_3 {
  padding-top: 50px;
  text-align: center;
}
#des-hidden {
  display: none;
}
#dev-hidden {
  display: none;
}
#proMgt-hidden {
  display: none;
}
.contact {
  margin: 20px;
  background-image: url("../images/backgrounds/ctBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 205px;
}
#name1 {
  background-color: transparent;
  color: white;
  padding-left: 0px;
  padding-right: 90px;
}
#email {
  background-color: transparent;
  color: white;
  padding-left: 0px;
  padding-right: 90px;
}
#textAr {
  background-color: transparent;
  color: white;
  padding: 0px 370px 300px 0px;
}
.portfolio {
  text-align: center;
  max-width: 80%;
  margin-left: 12%;
  margin-bottom: 20px;
}
.image-show {
 
  display: block;
  width: 80%;
  height: 90%;
}

.middle1 {
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  border: 2px solid white;
  visibility: hidden;
}
.projectname1 {
  opacity: 1;
  color: white;
  font-size: 16px;
  
}
.middle2 {
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  border: 2px solid white;
  visibility: hidden;
}
.projectname2 {
  opacity: 1;
  color: white;
  font-size: 16px;
  
}
.middle3 {
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  border: 2px solid white;
  visibility: hidden;
}
.projectname3 {
  opacity: 1;
  color: white;
  font-size: 16px;
 
}
.middle4 {
  position: absolute;
  top: 50%;
  left: 25%;
  text-align: center;
  border: 2px solid white;
  visibility: hidden;
}
.projectname4 {
  opacity: 1;
  color: white;
  font-size: 16px;
 
}
.left1 {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 70%;
}
.projectLst {
  color: white;
  font-size: 16px;
  text-align: center;
  border: 2px solid white;
  padding-bottom: 100px;
}
