body {
  font-family: "Roboto", sans-serif;
}
#bgrd1 {
  background-image: url("../images/backgrounds/welcBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#welcMsg {
  /* display: relative;
  float: Right; */
  font-size: 24px;
  color: white;
  text-align: center;
  padding-top: 385px;
}
#mouseclickpic {
  position: relative;
  margin-top: 200px;
  padding-top: 60px;
  bottom: 20px;
  text-align: center;
}
#lagoimg {
  position: relative;
  top: 325px;
  text-align: center;
}
.about {
  text-align: center;
  font-size: 14px;
}
.services {
  background-image: url("../images/backgrounds/servBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 205px;
}
.whatWeDo {
  margin-top: 50px;
  padding-bottom: 205px;
  text-align: center;
}
#des_ic {
  position: relative;
  float: left;
  left: 60px;
}
#dec-ic {
  position: relative;
  float: left;
  left: 310px;
}
#pro-ic {
  position: relative;
  float: left;
  left: 580px;
}
/* #work1 {
  padding: 10px 10px;
  background-image: url("../images/portfolio/work1.jpg");
}
img {
} */
