body {
  @media screen and (max-width: 768px) {
    #primary {
      width: 100%;
    }
    #secondary {
      width: 100%;
      margin: 0;
      border: none;
    }
  }
  font-family: "Roboto", sans-serif;
}
#bgrd1 {
  background-image: url("../images/backgrounds/welcBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#welcMsg {
  /* display: relative;
  float: Right; */
  font-size: 24px;
  color: white;
  text-align: center;
  padding-top: 385px;
}
#mouseclickpic {
  position: relative;
  margin-top: 200px;
  padding-top: 60px;
  bottom: 20px;
  text-align: center;
}
#lagoimg {
  position: relative;
  top: 325px;
  text-align: center;
}
.about {
  text-align: center;
  font-size: 14px;
}
.services {
  background-image: url("../images/backgrounds/servBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 205px;
}
.whatWeDo {
  margin-top: 50px;
  padding-bottom: 205px;
  text-align: center;
}
#icon_3 {
  text-align: center;
}
#des-hidden {
  display: none;
}
#dev-hidden {
  display: none;
}
#proMgt-hidden {
  display: none;
}
.contact {
  margin: 20px;
  background-image: url("../images/backgrounds/ctBgdr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 205px;
}
#name1 {
  background-color: transparent;
  color: white;
  padding-left: 0px;
  padding-right: 90px;
}
#email {
  background-color: transparent;
  color: white;
  padding-left: 0px;
  padding-right: 90px;
}
#textAr {
  background-color: transparent;
  color: white;
  padding: 0px 370px 300px 0px;
}
.portfolio {
  position: relative;
  max-width: 80%;
  margin-left: 12%;
}

.image-show {
  opacity: 5;
  display: block;
  width: 80%;
  height: 90%;
  backface-visibility: hidden;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.col-md-3:hover {
  opacity: 0.8;
}

.col-md-3:hover .middle {
  opacity: 16;
}
.col-md-3:hover .left1 {
  opacity: 18;
}
.projectname {
  color: white;
  font-size: 16px;
}
.left1 {
  opacity: 0;
  position: absolute;
  top: 2%;
  left: 5%;
  width: 70%;
}
.projectLst {
  color: white;
  font-size: 16px;
  border: 2px solid white;
  background-color: black;
  padding-bottom: 100px;
}
